# Arquivos do Sistema Operacional
.DS_Store
.DS_Store?
*.swp
*.swo
*~
Thumbs.db

# Editores de Código
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Dependências
node_modules/
package-lock.json
yarn.lock

# Arquivos de build
dist/
build/
*.min.js
*.min.css

# Arquivos de log
*.log
npm-debug.log*

# Arquivos temporários
.env.local
.DS_Store