# Arquivos de sistema operacional
.DS_Store
Thumbs.db
*.tmp

# Diretórios de build
build/
dist/
public/

# Logs
*.log
logs/

# Dependências
node_modules/

# Arquivos temporários
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Ambiente
.env